{% extends "layout.twig" %}

{% block custom_css %}
<link href="/css/profile.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div id="messages" class="hidden alert">
        <div class="close">x</div>
        <div id="msg"></div>
    </div>
	<div id="profile-brief" class="page-header">
        <img src="{{ kitty.img }}" />

        <h1>{{ kitty.name }}</h1>
        <p class="lead">{{ kitty.description }}</p>

        <div id="user-actions">
            <a id="miau" href="#" data-url="/kitty/{{ kitty.name }}/miau" >Miau!</a>
            <a id="prrr" href="#" data-url="/kitty/{{ kitty.name }}/prrr" >Prrr..</a>
            <a id="fzzzz" href="#" data-url="/kitty/{{ kitty.name }}/fzzzz" >fzzzz!!!</a>
        </div>

	</div>

    <ul id="gallery">
    {% for image in kitty.gallery %}
        <li>
            <img src="{{ image.img }}" height="300px" />
        </li>
    {% endfor %}
    </ul>

{% endblock %}

{% block custom_js %}
<script type="text/javascript">
$(function() {
    $('#user-actions').on('click', 'a', function() {
        var $this = $(this),
            url = $this.data('url');

        $.ajax({
            url: url,
            cache:false,
            type: 'GET',
        })
        .done(function(response) {
            $('#messages').removeClass('hidden').addClass('alert-' + response.type);
            $('#messages > #msg').text(response.msg);
        })
        .fail(function(response,txt) {
            $('#messages').removeClass('hidden').addClass('alert-' + response.responseJSON.type);
            $('#messages > #msg').text(response.responseJSON.msg);
        });
    });

    $('#messages').on('click', '.close', function() {
        $('#messages').addClass('hidden');
    });
})
</script>
{% endblock %}
